table, th, td{
  border: 1px solid black;
  text-align: center;
}
table{
  width: 75%;
  border-collapse: collapse;
  margin: 0px auto;
}
th{
  color: white;
  background-color: gray;
  width: 20%;
  height: 80px;
}
td{
  color: black;
  background-color: white;
  width: 20%;
  height: 80px;
}
.textinput {
  height: 30px;
  width: 300px;
}
label{
  height: 30px;
}
#timetable{
  margin: 30px;
}
#adddiv{
  display: flex;
  justify-content: flex-end;
  padding: 0px 100px;
}
